html {
    background-color: #2F343F;
    /* overflow: hidden; */
}

#grid {
    height: 100%;
    width: 100%;
}

.grid-item {
    flex: 1;

    display: flex;
    max-height: 100%;
    max-width: 100%;
}

.grid-column {
    flex: 1;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.grid-row {
    flex: 1;

    display: flex;
    flex-wrap: wrap;
}

.grid-content-container {
    position: relative;
    flex: 1;
    margin: 2px;

    display: flex;
    overflow: hidden;
}

.grid-content-container > img {
    flex-grow: 1;
    width: 0;
}

.text-overlay {
    color: #DEDEDE;
    text-align: center;

    position: absolute;
    top: 100%;

    width: 100%;
    height: 100%;

    transition: top 1.0s ease;
    background-color: rgba(0, 0, 0, 0.5)
}

.grid-content-container > img:hover + .text-overlay {
    top: 80%;
}

.text-overlay:hover {
    top: 80%;
}