html {
    background-color: #2F343F;
}

#grid {
    height: 100%;
    width: 100%;
}

.grid-tile {
    display: flex;

    flex-grow: 1;
    flex-wrap: wrap;
}

.grid-column {
    flex-grow: 1;
    

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.grid-row {
    flex-grow: 1;

    display: flex;
    flex-wrap: wrap;
}

.grid-tile > img {
    flex-basis: 0;
    flex-grow: 1;
    width: 0;
    max-height: 100%;
}